<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.6.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="16.6.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="16.6.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="16.6.255" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI" version="16.6.255" targetFramework="net472" />
</packages>